body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #73737a, #000000);
            color: #fff;
        }
        .container {
            background: transparent;
            /* background: #fff; */
            padding: 50px;
            border: 2px solid red;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 700px;
            color: #333;
        }
        h2 {
            font-size: 40px;
            padding-bottom: 30px;
            text-align: center;
            color: #37b333;
            margin-bottom: 20px;
        }
        .attend{
            display: flex;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
            color: #6e48aa;
            font-weight: bold;
        }
        .form-group input[type="text"],
        .form-group input[type="email"],
        .form-group input[type="tel"],
        .form-group input[type="number"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        .form-group input[type="radio"] {
            margin-right: 10px;
        }
        .form-group .radio-label {
            font-weight: normal;
            color: #333;
        }
        .name-group {
            display: flex;
            gap: 10px;
        }
        .name-group input {
            flex: 1;
        }
        button {
            width: 100%;
            padding: 10px;
            background-color: #12a0b3;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        button:hover {
            background-color: #9b59b6;
        }
        .required::after {
            content: "*";
            color: red;
            margin-left: 5px;
        }